<div class="container col-md-11" style="outline: solid black 1px;">
	<div class="row">
		<div class="col-sm-8"><h2 style="color: gray;">Reviews for <em>{{movie.title}}</em></h2></div>
		<div class="col-sm-4 align-self-center">
			<a role="button" class="btn btn-primary btn-md  active" [routerLink]="['/']">Movies List</a>
			<a role="button" class="btn btn-secondary btn-md active" [routerLink]="['review']">Write Review</a>
			<button type="button" class="btn btn-md btn-danger active" (click)="deleteMovie()">Delete Movie</button>
		</div>
	</div>
	<div class="container-fluid" style="padding-bottom: 15px;">
		<table class="table table-striped table-bordered table-hover">
		  <thead>
			<tr>
				<th scope="col">Reviewer</th>
				<th scope="col">Stars</th>
				<th scope="col">Review</th>
				<th scope="col">Action</th>
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let review of movie.reviews">
				<td>{{review.name}}</td>
				<td>{{review.rating}}</td>
				<td>{{review.summary}}</td>
				<td><button type="button" class="btn btn-md btn-danger active" (click)="deleteReview(review)">Delete review</button></td>
			</tr>
		  </tbody>
		</table>
	</div>
</div>